<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "imenu", '/', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <% if(params['date'].present?)
             date = Date.parse(params['date']) %>
          <li><%= link_to previous_business_day(previous_business_day(current_business_day(date))), 
            "/"+params['restaurant']+"/"+
            previous_business_day(previous_business_day(current_business_day(date))).to_s %></li>
          <li><%= link_to previous_business_day(current_business_day(date)),
            "/"+params['restaurant']+"/"+previous_business_day(current_business_day(date)).to_s %></li>
          <li class="active"><%= link_to current_business_day(date) , 
          "/"+params['restaurant']+"/"+current_business_day(date).to_s %></li>
          <li><%= link_to next_business_day(current_business_day(date)) , 
          "/"+params['restaurant']+"/"+next_business_day(current_business_day(date)).to_s %></li>
          <li><%= link_to next_business_day(next_business_day(current_business_day(date))) , 
            "/"+params['restaurant']+"/"+ 
            next_business_day(next_business_day(current_business_day(date))).to_s %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
